# GitHub
GITHUB_TOKEN=""
GITHUB_WEBHOOK_SECRET="" # generate by yourself
GITHUB_REPO_OWNER=""
GITHUB_REPO_NAME=""

# Gemini
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash-lite"

# Ollama (Fallback)
OLLAMA_BASE_URL=""
OLLAMA_MODEL="qwen2.5-coder:7b"

# App
PORT=
APP_ENV=""
REVIEW_INSTRUCTIONS_PATH="" ## Dunno if I need this.
