# App
APP_PORT=
APP_ENV=""
REVIEW_INSTRUCTIONS_PATH=""

# GitHub
GITHUB_TOKEN=""
GITHUB_WEBHOOK_SECRET="" # generate by yourself

# Main model (Gemini)
LLM_API_KEY=""
LLM_MODEL="gemini-2.5-flash-lite"

# Fallback (Ollama)
LOCAL_LLM_BASE_URL=""
LOCAL_LLM_MODEL="qwen2.5-coder:7b"

